.dash-container {
  border-radius: 4px;
}

.card-left {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  
  h2 {
    text-align: center;
    font-size: 32px;
    color: $red;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 22px;
    margin-bottom: 24px;
  }

  p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 18px;
  }
}

.card-right {
  text-align: center;
  padding: 24px;
  border-left: 1px solid rgba(40,40,40,0.2);

  h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
  }
  
  .btn-gray {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .listing-card {
    width: 150px;
    height: 225px;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 24px;
    
    img {
      padding: 4px;
      width: 100px;
      height: 140px;
    }

    .icons {
      color: $red;
    }
  }
}

.bookings-dashboard-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.bookings-title {
  line-height: 16px;
}

.bookings-container {
  margin-top: 24px;
  margin-bottom: 16px;
}

@media (min-width: 480px) {
  .card-left {
    margin: 0 auto;
  }
  .card-right {
    margin: 0 auto;
  }
}